<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="primary">
      NASA - Picture of the dat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
            *ngFor="let day of days"
            no-padding
            [routerLink]="'/detail/' + day.apiDate"
            routerDirection="forward">
      <ion-label>{{day.displayDate}}</ion-label>
      <ion-icon name="planet" slot="end" color="tertiary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>