<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      NASA - Picture of the day
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="detailData$ | async as detailData" class="content-container">
  <ion-img src="{{detailData.url}}" alt="{{detailData.title}}" center></ion-img>
  <h1>{{detailData.title}}</h1>
  <p>{{detailData.date}}</p>
  <p>{{detailData.explanation}}</p>
  <p>{{detailData.copyright}}</p>
<ion-content>
